@charset "UTF-8";
@font-face {
  font-family: "Shrikand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-italic";
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  background-color: rgb(247, 235, 247);
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s;
  animation-fill-mode: forwards;
  transform-origin: right;
}
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  border-top: 5px solid rgba(147, 86, 220, 0.9);
  border-bottom: 5px solid rgba(255, 121, 218, 0.9);
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear-menu {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background: white;
  text-align: center;
  font-family: Roboto, serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}
header nav {
  height: 80px;
  background: white;
}
header nav h1 {
  font-family: Shrikand, sans-serif;
  margin: 0 auto;
  padding: 0.5rem;
}
header .icons {
  height: 60px;
  background: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .icons form .search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
header .icons form .search_bar input {
  width: 150px;
  text-align: center;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: Roboto-bold, serif;
}
header .icons form .search_bar input::-moz-placeholder {
  color: #353535;
}
header .icons form .search_bar input::placeholder {
  color: #353535;
}
header .icons form .search_bar i {
  font-size: 1rem;
  margin-right: 10px;
}

.reserver {
  padding: 30px 0;
  background: #f6f6f6;
}
.reserver .reserv-container h2 {
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
}
@media screen and (min-width: 1024px) {
  .reserver .reserv-container h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .reserver .reserv-container h2 {
    font-size: 1.8rem;
  }
}
.reserver .reserv-container p {
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
}
@media screen and (min-width: 1024px) {
  .reserver .reserv-container p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .reserver .reserv-container p {
    font-size: 1.3rem;
  }
}
.reserver .reserv-container .btn_reserv {
  margin: 20px 0;
  background: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border: none;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  font-size: 0.9rem;
  padding: 16px;
  font-family: Roboto-bold, serif;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
}
.reserver .reserv-container .btn_reserv:hover {
  filter: brightness(1.2); /* Augmente la luminosité */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .reserver .reserv-container .btn_reserv {
    width: 220px;
    font-size: 1rem;
  }
}

.functioning {
  padding: 25px 0;
  background: white;
}
.functioning h2 {
  text-align: left;
  margin-left: 30px;
  font-size: 1.5rem;
  font-family: Roboto-bold, serif;
}
@media screen and (min-width: 1024px) {
  .functioning h2 {
    padding: 0 220px;
  }
}
.functioning .funct_container {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .functioning .funct_container {
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .functioning .funct_container {
    flex-direction: row;
  }
}
.functioning .funct_container .icon_funct {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
  margin: 20px 0;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  background: #f6f6f6;
  width: 240px;
  height: 60px;
  font-size: 0.9rem;
  font-family: Roboto-bold, serif;
}
@media screen and (min-width: 1024px) {
  .functioning .funct_container .icon_funct {
    width: 200px;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .functioning .funct_container .icon_funct {
    width: 230px;
    font-size: 0.8rem;
  }
}
.functioning .funct_container .icon_funct p {
  text-align: right;
}
.functioning .funct_container .icon_funct i {
  font-size: 1.1rem;
  margin-left: 35px;
  color: #7e7e7e;
}
.functioning .funct_container .icon_funct i:hover {
  color: rgba(147, 86, 220, 0.9);
}
.functioning .funct_container .icon_funct:nth-child(1)::before {
  content: "1";
  width: 20px;
  height: 20px;
  border: 1px solid rgba(147, 86, 220, 0.9);
  border-radius: 100%;
  position: absolute;
  left: -3%;
  transform: translateY(3%);
  background: rgba(147, 86, 220, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functioning .funct_container .icon_funct:nth-child(2)::before {
  content: "2";
  width: 20px;
  height: 20px;
  border: 1px solid rgba(147, 86, 220, 0.9);
  border-radius: 50px;
  position: absolute;
  left: -3%;
  transform: translateY(3%);
  background: rgba(147, 86, 220, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functioning .funct_container .icon_funct:nth-child(3)::before {
  content: "3";
  width: 20px;
  height: 20px;
  border: 1px solid rgba(147, 86, 220, 0.9);
  border-radius: 50px;
  position: absolute;
  left: -3%;
  transform: translateY(3%);
  background: rgba(147, 86, 220, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant {
  padding: 25px 0;
  background: #f6f6f6;
  text-align: start;
}
.restaurant h2 {
  text-align: left;
  margin-left: 30px;
  font-size: 1.5rem;
  font-family: Roboto-bold, serif;
}
@media screen and (min-width: 1024px) {
  .restaurant h2 {
    padding: 0 220px;
  }
}
.restaurant .cards_restaurant a .nouveau {
  position: relative;
}
.restaurant .cards_restaurant a .nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background: #99E2D0;
  color: #278870;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
@media screen and (min-width: 768px) {
  .restaurant .cards_restaurant {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}
.restaurant .cards_restaurant .card_rest {
  width: 80%;
  margin: 0 auto;
  height: 220px;
  background: white;
  border-radius: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .restaurant .cards_restaurant .card_rest {
    width: 325px;
    height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant .cards_restaurant .card_rest {
    width: 350px;
  }
}
.restaurant .cards_restaurant .card_rest img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 768px) {
  .restaurant .cards_restaurant .card_rest img {
    height: 170px;
  }
}
.restaurant .cards_restaurant .card_rest .card_rest-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.restaurant .cards_restaurant .card_rest .card_rest-container h3, .restaurant .cards_restaurant .card_rest .card_rest-container p {
  font-family: Roboto, serif;
  color: #353535;
}
.restaurant .cards_restaurant .card_rest .card_rest-container h3 {
  font-size: 0.9rem;
}
.restaurant .cards_restaurant .card_rest .card_rest-container p {
  font-size: 0.8rem;
}
.restaurant .cards_restaurant .card_rest .card_rest-container .card_rest-icon {
  position: relative;
}
.restaurant .cards_restaurant .card_rest .card_rest-container .card_rest-icon i {
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurant .cards_restaurant .card_rest .card_rest-container .card_rest-icon .fa-solid {
  color: transparent;
  background: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.restaurant .cards_restaurant .card_rest .card_rest-container .card_rest-icon .fa-solid:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

header {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  background: white;
  padding: 15px;
}
header nav img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  header nav img {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  header nav img {
    width: 30%;
  }
}

main section {
  width: 100%;
}
main section img {
  width: 100%;
  height: 35vh;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  main section .section_container {
    padding: 0 130px;
  }
}
@media screen and (min-width: 768px) {
  main section .section_container {
    padding: 0 130px;
  }
}
main section .section_container .fixed_part {
  position: relative;
  padding: 2px 0;
  width: 100%;
  margin: -25px auto 0;
  background: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 40px 40px 0 0;
}
main section .section_container .fixed_part .titre {
  padding: 10px;
  margin: 10px;
  font-size: 0.8rem;
  font-family: Shrikand, sans-serif;
  position: relative;
}
main section .section_container .fixed_part .titre i {
  color: rgba(147, 86, 220, 0.9);
  font-size: 1.5rem;
  position: absolute;
  right: -35rem;
  left: -20rem;
  top: 50%;
  transform: translateY(-50%);
}
main section .section_container .fixed_part .titre .fa-solid {
  color: transparent;
  background: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 100ms ease-in-out;
}
main section .section_container .fixed_part .titre .fa-solid:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
main section .section_container .fixed_part .Les_menus {
  text-align: left;
  font-family: Roboto, serif;
  padding: 0 15px;
  padding: 10px;
}
main section .section_container .fixed_part .Les_menus .titre_menu {
  text-transform: uppercase;
}
main section .section_container .fixed_part .Les_menus .titre_menu p {
  margin: 10px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}
main section .section_container .fixed_part .Les_menus .titre_menu p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.3rem;
  height: 0.2rem;
  width: 2.5rem;
  background: #99e2d0;
}
main section .section_container .fixed_part .Les_menus .menus_category {
  overflow: hidden;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items {
  display: flex;
  background: white;
  border-radius: 1rem;
  margin: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appear-menu 1s;
  animation-fill-mode: both;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items:nth-child(1) {
  animation-delay: 100ms;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items:nth-child(2) {
  animation-delay: 200ms;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items:nth-child(3) {
  animation-delay: 300ms;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items .menu_prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items .menu-description {
  padding: 1rem;
  overflow: hidden;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items .menu-description h4, main section .section_container .fixed_part .Les_menus .menus_category .menu_items .menu-description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items .check-items {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items .check-items i {
  display: grid;
  place-items: center;
  background: white;
  border-radius: 1rem;
  width: 2rem;
  aspect-ratio: 1;
  color: #99E2D0;
}
main section .section_container .fixed_part .Les_menus .menus_category .menu_items:hover .check-items {
  margin-right: 0;
}
main section button {
  margin: 10px 0;
  background: linear-gradient(to top right, rgba(147, 86, 220, 0.9), 50%, rgba(255, 121, 218, 0.9));
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 30px;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
}
main section button:hover {
  filter: brightness(1.2); /* Augmente la luminosité */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 15px;
  background: #353535;
  color: white;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  footer .contact_infos {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  footer .contact_infos {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}
footer .contact_infos h3 {
  font-size: 1rem;
  font-family: Roboto-italic, serif;
  margin: 12px;
}
footer .contact_infos .infos_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  padding: 3px;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  footer .contact_infos .infos_container {
    display: flex;
  }
}
footer .contact_infos .infos_container span, footer .contact_infos .infos_container i {
  font-size: 0.8rem;
}
footer .contact_infos .infos_container i {
  width: 16px;
  height: 16px;
}
footer .contact_infos .infos_container a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=index.css.map */