.functioning {
    padding: 25px 0;
    background: $white;
    h2 {
        @include title;
        
        @media screen and (min-width:1024px) {
            padding: 0 220px;
        }
        // @media screen and (min-width:768px) {
        //     padding: 0 100px;
        // }
    }

    .funct_container {
        padding: 0 30px;
        @include childrenCenter;
        flex-direction: column;

        @media screen and (min-width: 768px){
            flex-direction: row;
            gap: 30px;
        }
        @media screen and (min-width: 1024px){
            flex-direction: row;
        }
        .icon_funct {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 15px;
            margin: 20px 0;
            border: 1px solid $color3;
            border-radius: 30px;
            background: $color3;
            width: 240px;
            height: 60px;
            font-size: 0.9rem;
            font-family: $font3;
            @media screen and (min-width:1024px) {
                width: 200px;
                font-size: 0.6rem;
            }
            @media screen and (min-width:768px) {
                width: 230px;
                font-size: 0.8rem;
            }
            p{
                text-align: right;
            }
            
            i {
                font-size: 1.1rem;
                margin-left: 35px;
                color: $color4;
                &:hover {
                    color: $primaire;
                }
            }

            &:nth-child(1)::before {
                content: "1";
                width: 20px;
                height: 20px;
                border: 1px solid $primaire;
                border-radius: 100%;
                position: absolute;
                left: -3%;
                transform: translateY(3%);
                background: $primaire;
                color: $white;
                @include childrenCenter;
            }
            &:nth-child(2)::before {
                content: "2";
                width: 20px;
                height: 20px;
                border: 1px solid $primaire;
                border-radius: 50px;
                position: absolute;
                left: -3%;
                transform: translateY(3%);
                background: $primaire;
                color: $white;
                @include childrenCenter;
            }
            &:nth-child(3)::before {
                content: "3";
                width: 20px;
                height: 20px;
                border: 1px solid $primaire;
                border-radius: 50px;
                position: absolute;
                left: -3%;
                transform: translateY(3%);
                background: $primaire;
                color: $white;
                @include childrenCenter;
            }
            
        }
    }
}