.reserver {
    padding: 55px 0;
    background: $color3;
    .reserv-container {
        h2 {
            font-size: 1.6rem;
            @include forMarge;
        }
        p {
            font-size: 1.1rem;
            @include forMarge;
        }
        .btn_reserv {
            margin: 20px 0;
            background: linear-gradient(to top left, $primaire, 50%, $secondaire);
            border: none;
            color: $white;
            border-radius: 35px;
            cursor: pointer;
            height: 50px;
            width: 200px;
            font-size: 0.9rem;
            padding: 16px;
            font-family: $font3;
            transition: filter 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                filter: brightness(1.2); /* Augmente la luminosité */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            
        }
    }
}